* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 197, 197);
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 9999;
    top: 0;
}

.top-head {
    background-color: rgb(5, 136, 33);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: 70px;
    height: 70px;
}

.top-log-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.register-login {
    color: azure;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.register-login:hover {
    transform: scale(1.07);
    transition: 0.2s;
    color: rgb(204, 206, 206);
}

.svg-heart {
    filter: brightness(0) invert(1);
    width: 35px;
    transition: 0.2s;
}

.svg-heart:hover {
    transform: scale(1.07);
    transition: 0.2s;
}

.svg-shop {
    filter: brightness(0) invert(1);
    width: 37px;
    transition: 0.2s;
}

.svg-shop:hover {
    transition: 0.2s;
    transform: scale(1.07);
}

.main-head {
    display: flex;
    flex-direction: row;
    background-color: azure;
    height: 60px;
}

.main-head ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    padding-right: 30px;
}

.main-head ul li {
    transition: 0.2s;
}

.main-head ul li:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.main-head ul li a {
    text-decoration: none;
    color: rgb(5, 136, 33);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    transition: 0.2s;
}

.main-head ul li a:hover {
    transition: 0.2s;
    color: rgb(6, 178, 43);
}


.main-head form {
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 80px;
    align-items: center;
}

.main-head form input {
    position: relative;
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(5, 136, 33);
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
}

.main-head form input::placeholder {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 20px;
    opacity: 0.6;
}

.main-head form input:focus {
    border-bottom-color: rgb(5, 136, 33);
    transition: border-color 0.3s;
}

.main-head form svg {
    position: absolute;
}

.content-top-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(227, 228, 228);
}

.content-top-main-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.content-top-main-img img {
    width: 100%;
    height: 90vh;
}

.in-content-top-main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 60%;
}

.in-content-top-main h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-decoration: underline;
    color: rgb(5, 136, 33);
}

.in-content-top-main h2 {
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 1rem;
    color: rgb(5, 136, 33);

}

.in-content-top-main .div {
    height: 1px;
    width: 460px;
    border: solid 3px;
    margin-top: 45px;
    border-color: rgb(5, 136, 33);
}

.p-but {
    width: 470px;
}

.p-but p {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 45px;
    color: rgb(5, 136, 33);
}

.but-order-content {
    margin-top: 38px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.but-order-content .order-content {
    font-size: 25px;
    height: 80px;
    width: 240px;
    font-weight: 900;
    color: azure;
    background-color: rgb(5, 136, 33);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s;
}

.but-order-content .order-content:hover {
    background-color: rgb(5, 95, 24);
    transition: 0.2s;
}

.but-order-content .go-left-content {
    width: 100px;
    background-color: rgb(5, 136, 33);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    transition: 0.2s;
}

.but-order-content .go-left-content:hover {
    background-color: rgb(5, 95, 24);
    transition: 0.2s;
}

.content-body-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.first-text-cotent {
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 610px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.first-text-cotent .ABOUT {
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(5, 136, 33);
}

.first-text-cotent p {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(5, 136, 33);
}

.about {
    position: absolute;
    top: 128%;
    opacity: 0.2;
    color: rgb(5, 136, 33);
    font-size: 100px;
    font-family: sans-serif;

}

.sec-one-content {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-content-sec-one {
    height: 500px;
    padding: 40px;
}

.text-content-sec-one h1 {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}

.text-content-sec-one p {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(5, 136, 33);
    margin-bottom: 20px;
}

.sec-one-but {
    display: flex;
    gap: 1rem;
}

.text-content-sec-one .order-sec-one {
    font-size: 25px;
    height: 80px;
    width: 240px;
    font-weight: 900;
    color: azure;
    background-color: rgb(5, 136, 33);
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s;
}

.text-content-sec-one .order-sec-one:hover {
    background-color: rgb(5, 95, 24);
    transition: 0.2s;
}

.text-content-sec-one .go-left-sec-one {
    width: 100px;
    height: 80px;
    background-color: rgb(5, 136, 33);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    transition: 0.2s;
}

.text-content-sec-one .go-left-sec-one:hover {
    background-color: rgb(5, 95, 24);
    transition: 0.2s;
}

.img-content-sec-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.img-content-sec-one img {
    width: 96%;
    border: solid 7px;
    border-color: rgb(5, 136, 33);
    border-radius: 20px;
}

.flash-card {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

.card {
    box-shadow: -2px 2px 7px;
    border: solid;
    width: 30%;
    height: 600px;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    background-color: rgb(232, 231, 231);
    transition: 0.3s;
}

.card:hover {
    box-shadow: -3px 3px 10px;
    transform: scale(1.05);
    transition: 0.3s;
}

.top-card {
    background-color: rgb(5, 136, 33);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.top-card h2 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 50px;
}

.top-card h1 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 100px;
}

.foot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-card p {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    text-decoration: underline;
}

.foot-card button {
    height: 80px;
    width: 200px;
    background-color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 800;
    border: none;
    color: aliceblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.discount-cotent {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


.discount-cotent img {
    width: 60%;
    height: 400px;
    display: block;
}

.text-discount {
    color: aliceblue;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(8%, -50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 800px;
    text-align: end;
}

.text-discount h1 {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-weight: 800;
    font-size: 67px;
    text-shadow: -1px 1px 3px black;
}

.text-discount p {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 0.1rem;
    text-shadow: -1px 1px 2px black;
}

.text-discount h2 {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 47px;
    letter-spacing: 0.7rem;
    margin-right: 50px;
    text-shadow: -1px 1px 3px black;
}

.text-discount h3 {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 35px;
    margin-right: 70px;
    text-shadow: -1px 1px 3px black;
}

.text-discount button {
    background-color: rgb(5, 136, 33);
    height: 80px;
    width: 250px;
    color: aliceblue;
    font-size: 26px;
    font-weight: 800;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 100px;
    transition: 0.2s;
}

.text-discount button:hover {
    background-color: rgb(5, 95, 24);
    transition: 0.2s;
}

.sec-two-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.second-text-cotent {
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 650px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.second-text-cotent .BLOG {
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(5, 136, 33);
}

.second-text-cotent p {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(5, 136, 33);
}

.blog {
    position: absolute;
    top: 503%;
    opacity: 0.2;
    color: rgb(5, 136, 33);
    font-size: 100px;
    font-family: sans-serif;
}

.three-box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 2rem;
}

.img {
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content-sec-two {
    background-color: rgb(223, 220, 220);
    padding: 1.5rem;
}

.text-content-sec-two h1 {
    color: rgb(5, 136, 33);
    font-family: sans-serif;
    font-size: 55px;
    margin-bottom: 20px;
}

.text-content-sec-two p {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(5, 136, 33);
    letter-spacing: 0.1rem;
    margin-bottom: 60px;
}

.text-content-sec-two button {
    height: 60px;
    width: 250px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background-color: rgb(5, 136, 33);
}

.text-content-sec-two button:hover {
    background-color: rgb(5, 95, 24);
}

.footer {
    background-color: rgb(5, 136, 33);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.footer img {
    width: 80px;
}

.footer h1 {
    color: #fff;
    font-family: sans-serif;
    font-size: 70px;
}

.footer h3 {
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 35px;
}

.footer h2 {
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.icon-app {
    display: flex;
    flex-direction: flex;
    gap: 1rem;
}

.icon-app svg {
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 50px;
}

.icon-app svg:hover {
    background-color: rgb(196, 193, 193);
}






